.cPage__container {
  min-height: 70vh;
}
.cPageLegend__container {
  display: flex;
  justify-content: center;
  gap: 0vw 4.1vw;
  margin-top: 5vw;
}
.cPage__circlesContainer {
  display: flex;
  justify-content: center;
  gap: 12vw;
  margin-top: 8vw;
}
.headphones {
  color: #2972ae;
}

.eye {
  color: #e0dcdc;
}
.play {
  color: #16463b;
}
