.dPage__container {
  min-height: 70vh;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  row-gap: 15vw;
}

.dPage__headerTitle {
  margin-left: 42vw;
}

.dContainer {
  display: flex;
  justify-content: center;
  column-gap: 37vw;
}
.dContainer__noMiddleText {
  display: flex;
  justify-content: center;
  column-gap: 45vw;
}
.dPage__circleRight {
  display: flex;
}
.dPageCircle__full {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #de1717;
}
.dPageCircle__border {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: 1.3vw solid #de1717;
  background-color: transparent;
  position: relative;
}
.dPageTri__right {
  width: 0;
  height: 0;
  border-top: 8vw solid transparent;
  border-bottom: 8vw solid transparent;
  border-left: 8vw solid #de1717;
  position: relative;
  margin-right: -1vw;
  transform: scaleY(0.26);
}
.dPageTri__right::after {
  content: "";
  width: 0;
  height: 0;
  /* opacity: 0.4; */
  border-top: 8vw solid transparent;
  border-bottom: 8vw solid transparent;
  border-left: 8vw solid white;
  position: absolute;
  top: -8vw;
  right: 2vw;
}
.dPage__circleText {
  font-family: "C90Degree";
  font-weight: 900;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #2b66a0;
  font-size: 3.5vw;
  position: absolute;
  bottom: 36%;
  left: 24%;
  color: #2b66a0;
}
.dPage__middleText1 {
  font-family: "C90Degree";
  font-weight: 900;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #2b66a0;
  font-size: 3vw;
  position: absolute;
  bottom: 8.3vw;
  text-align: right;
  right: 24vw;
  color: #2b66a0;
  width: 37vw;
}
.dPage__middleText2 {
  font-family: "C90Degree";
  font-weight: 900;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #2b66a0;
  font-size: 3vw;
  position: absolute;
  bottom: 5vw;
  text-align: right;
  right: 24vw;
  color: #2b66a0;
  width: 37vw;
}
.dPage__middleTextBottom {
  font-family: "C90Degree";
  font-weight: 900;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #d2a53b;
  font-size: 3vw;
  position: absolute;
  bottom: 5.5vw;
  text-align: right;
  left: 10vw;
  color: #d2a53b;
  width: 35vw;
}

#twoFull {
  background-color: #ddc73e;
}
#twoBorder {
  border: 1.3vw solid #ddc73e;
}

#twoText {
  left: 32%;
}

#twoTri {
  border-left: 8vw solid #ddc73e;
}

#threeFull {
  background-color: #2972ae;
}
#threeBorder {
  border: 1.3vw solid #2972ae;
}
#threeText {
  left: 2%;
  font-size: 3.3vw;
}
#threeMiddleTextOne {
  bottom: 10vw;
}

#threeTri {
  border-left: 8vw solid #2972ae;
}
#threeBorder > div {
  bottom: 1vw;
  /* right: 24vw; */
  width: 37vw;
  text-align: center;
}

#oneNoMidFull {
  background-color: #3f6d5b;
}
#oneNoMidBorder {
  border: 1.3vw solid #3f6d5b;
}
#oneNoMidText {
  left: 4%;
}

#twoNoMidFull {
  background-color: #a8adc0;
}
#twoNoMidBorder {
  border: 1.3vw solid #a8adc0;
}
#twoNoMidText {
  left: 3%;
  bottom: 28%;
  font-size: 3vw;
  text-align: center;
}

#fourFull {
  background-color: #d2a53b;
}
#fourBorder {
  border: 1.3vw solid #d2a53b;
}

#fourText {
  left: 14%;
  bottom: 35%;
}
#fiveFull {
  background-color: #eea4c8;
}
#fiveBorder {
  border: 1.3vw solid #eea4c8;
}

#fiveText {
  left: 26%;
  bottom: 10%;
}

#fiveMiddleText {
  left: unset;
  right: 35vw;
  color: #eea4c8;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #eea4c8;
}

#threeNoMidFull {
  background-color: #b0412f;
}
#threeNoMidBorder {
  border: 1.3vw solid #b0412f;
}
#threeNoMidText {
  left: 8%;
  bottom: 15%;
  font-size: 3vw;
}
@media screen and (min-width: 825px) {
  .dPage__container {
    margin-top: 1.3vw;
  }
}
