@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.home__container {
  /* figure out how to apply min-height to every page */
  min-height: 70vh;
  margin-top: 10vw;
  animation: fadeIn;
  animation-duration: 1.2s;
}

.circle {
  background-color: #b9b2b24d;
  height: 26vw;
  width: 26vw;
  border-radius: 50%;
  position: relative;
}

.circleGroup {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
  gap: 27vw 17vw;
  justify-content: center;
}

.circle__text {
  font-family: "C90Degree";
  font-weight: 900;
  color: #16463b;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #16463b;
  position: absolute;
  bottom: 34%;
  left: 26%;
  font-size: 3.8vw;
}
.circle__textSingle {
  font-family: "C90Degree";
  font-weight: 900;
  color: #16463b;
  /* this text-shadow, like above, is a temporary solution */
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #16463b;
  position: absolute;
  bottom: 40%;
  left: 32%;
  font-size: 3.8vw;
}
