.iIt__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vw;
  min-height: 250vw;
}

.revealMe {
  background-color: #2b61d5;
  color: #f3f3f3;
  border-radius: 8vw;
  height: 8.75vw;
  width: 38vw;
  border: none;
  font-size: 3vw;
  font-family: "C90Degree";
  font-weight: 700;
  margin-bottom: 2.5vw;
}
.iIt__bioCv {
  display: flex;
  gap: 5vw;
}
.bio__x {
  margin-bottom: 1vw;
  margin-top: 1vw;
  cursor: pointer;
  width: 80%;
}
.bio__container > svg {
  width: 5vw;
}
.bio__text {
  width: 75vw;
  line-height: 1.7;
  font-size: 2.2vw;
}

.iIt__bio {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  background-color: #aecbc7;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.bio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yiseulSponge {
  width: 70vw;
  margin-bottom: 7vw;
}
.cv__imageContainer > img {
  width: 70vw;
}

.iIt__cv {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  background-color: #ddc73e;
  position: relative;
  cursor: pointer;
}
.iIt__circleText {
  font-family: "C90Degree";
  font-weight: 900;
  color: white;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px white;
  position: absolute;
  bottom: 34%;
  left: 30%;
  font-size: 2vw;
}
.iIt__topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .iIt__container {
    margin-top: 1.3vw;
    flex-direction: column;
    align-items: center;
    min-height: 125vw;
  }
  .revealMe {
    margin-top: 2.5vw;
    border-radius: 3vw;
  }

  .iIt__topContent {
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
  }
  #iItPageTitle {
    width: 100vw;
    text-align: center;
  }
  .iIt__bioCv {
    margin-left: 6vw;
    gap: 0.5vw;
    z-index: 5;
  }
  .cv__imageContainer {
    margin-left: 10vw;
  }
  .cv__imageContainer > img {
    width: 50vw;
  }
}
@media screen and (min-width: 1200px) {
  .iIt__container {
    min-height: 115vw;
  }
  .revealMe {
    border-radius: 1.4vw;
    height: 4.4vw;
    width: 19vw;
    font-size: 1.5vw;
    margin-left: 35vw;
  }
  .iIt__bioCv {
    margin-left: 20vw;
    gap: 0.5vw;
  }
  .iIt__bio {
    height: 5vw;
    width: 5vw;
  }
  .iIt__cv {
    height: 5vw;
    width: 5vw;
  }
  .iIt__circleText {
    font-size: 1.4vw;
  }
  .bio__container {
    flex-direction: row;
    column-gap: 5vw;
    margin-top: 20vw;
    margin-left: -20vw;
    margin-bottom: -60vw;
  }
  .yiseulSponge {
    width: 28vw;
    margin-bottom: unset;
  }
  .bio__text {
    width: 48vw;
    line-height: 1.7;
    font-size: 0.9vw;
  }
  .cv__imageContainer {
    width: 100vw;
    display: flex;
    column-gap: 1.4vw;
    margin-left: -4vw;
  }
  .cv__imageContainer > img {
    width: 25vw;
  }
}
