.circles__container {
  width: 100vw;
  margin-top: -56vw;
  position: relative;
}
.circles__circles {
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circles__text {
  font-family: "C90Degree";
  font-weight: 900;
  color: #f3f3f3;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #f3f3f3;
  font-size: 3vw;
  text-align: center;
  width: 13vw;
}
@media screen and (min-width: 768px) {
  .circles__container {
    height: 51.2vw;
    z-index: 1;
  }
  .circles__circles {
    width: 8vw;
    height: 8vw;
    z-index: 3;
  }
  .circles__text {
    font-size: 1.4vw;
    width: 6vw;
    line-height: 1.1vw;
  }
}
