.pageC__circle {
  height: 26vw;
  width: 26vw;
  background-color: #d0cdcd;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageC__circleText {
  color: #16463b;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.3vw;
  width: 14vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.circleText__textOne {
  font-style: italic;
  font-weight: 700;
}

.pageC__circleLegend {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
}
.pageC__legendContainer {
  display: flex;
  gap: 2.5vw;
  margin-top: 2vw;
}
.pageC__legendBottomContainer {
  display: flex;
  gap: 2.5vw;
  margin-top: 2vw;
}
@media screen and (min-width: 768px) {
  .pageC__circle {
    width: 15vw;
    height: 15vw;
  }
  .pageC__circleText {
    font-size: 1.5vw;
  }
}
