.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vw;
  row-gap: 2vw;
}
.gallery__legend {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
}
.gallery__container > img {
  width: 38vw;
}
.pictureLegend__container {
  display: flex;
  gap: 3vw;
}

@media screen and (min-width: 825px) {
  .gallery__container {
    width: 22vw;
    /* align-items: unset; */
  }
  .gallery__container > * {
    /* flex: 1 0 25%; */
  }

  .gallery__container > img {
    width: unset;
  }

  .gallery__legend {
    height: 2vw;
    width: 2vw;
  }
}
