.header {
  font-family: arial;
  margin-top: 4.25vw;
  margin-bottom: 3vw;
}

.header > a {
  all: inherit;
}

.header > a > span {
  margin-left: 10vw;
  font-weight: 500;
  font-size: 4.3vw;
  cursor: pointer;
}
