.subHeader__container {
  display: flex;
  justify-content: center;
  gap: 0vw 9vw;
}

.subHeader__container > a {
  color: #100f0f;
  text-decoration: none;
  font-size: 3.3vw;
}
@media screen and (min-width: 768px) {
  .subHeader__container {
    /* display: none; */
  }
  .subHeader__container > a {
    display: none;
  }
}
