.videoDescriptionModal {
  font-family: "C90Degree";
  font-weight: 900;
  color: #16463b;
  text-shadow: 0.1px 0.3px, 0.2px 0.6px #16463b;
  margin-top: -6vw;
  margin-left: 30vw;
  font-size: 3.8vw;
  border: 1vw solid #2b66a0;
  background-color: white;
  border-radius: 8vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoDescriptionModal > p {
  width: 48vw;
  text-align: center;
  padding: 2vw;
  margin-bottom: unset;
  margin-top: unset;
}

.description__text {
  color: #7c7676;
  text-decoration: underline;
  text-decoration-color: #7c7676;
  cursor: pointer;
}
